<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
	
	<!-- 제품정보  -->
	<select id="selectEarringList" parameterType="com.shop.vo.EarringVO" resultType="com.shop.vo.EarringVO">
		select * from product_ear
	</select>
	
	<select id="selectEarringInfo" parameterType="com.shop.vo.EarringVO" resultType="com.shop.vo.EarringVO">
        SELECT * from product_ear where pid = #{pid}
    </select>
	
	
	<!-- 회원 정보 -->	
	<select id="selectAll" parameterType="com.shop.vo.CustomerVO" resultType="com.shop.vo.CustomerVO">
		select * from customer
	</select>
	
	
	
	<!-- <insert id="join" parameterType="com.ict.service.VO">
		insert into members(idx,id,pw,name,age,addr) values(members_swq.nextval, #{id},#{pw},#{name},#{age},#{addr})
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from members where idx=#{idx}
	</delete> --> 

</mapper>













